{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Đăng nhập{% endblock %}

{% block content %}
    <div class="wrapper" style="background-color:#D8EDF2">
      <form class="form-signin" method="post">
        <h2 class="form-signin-heading text-lg-center">ĐĂNG NHẬP</h2>  

        {% csrf_token %}
        {% for key, value in form.errors.items %}
          Tên tài khoản hoặc mật khẩu không chính xác. Xin kiểm tra CAPSLOCK. <br><br>
        {% endfor %}

        {% for field in form %}
    			<label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field |attr:"class:form-control" }}  
    		{% endfor %} 
        
        <label class="checkbox">
          <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Ghi nhớ
        </label>
        <p><a href="{% url 'password_reset' %}">Quên mật khẩu?</a></p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Đăng nhập</button>
        <input type="hidden" name="next" value="/"/>
        <a class="btn btn-lg btn-outline-primary btn-block" href="/register" role="button">Đăng ký</a>
      </form>
    </div>
{% endblock %}
