<html>
<h2>Trở về trang <a href="/register" style="color:blue">Đăng ký</a></h2><br><br>
<p>Đây chỉ là mẫu điều khoản, không có hiệu lực đúng trong trang bán hàng hiện tại. Xin vui lòng thay thế hoặc bổ sung.</p>

<h4> Điều khoản mua bán hàng hóa </h4>

Giới thiệu <br><br>

Chào mừng quý khách đến với website elecream.com <br><br>

Chúng tôi là CÔNG TY TNHH MTV Elecream địa chỉ trụ sở chính tại 371 Nguyễn Kiệm, hoạt động kinh doanh thương mại điện tử qua trang web www.elecream.com <br><br>

Khi quý khách truy cập vào trang web của chúng tôi có nghĩa là quý khách đồng ý với các điều khoản này. Trang web có quyền thay đổi, chỉnh sửa, thêm hoặc lược bỏ bất kỳ phần nào trong Quy định và Điều kiện sử dụng, vào bất cứ lúc nào. Các thay đổi có hiệu lực ngay khi được đăng trên trang web mà không cần thông báo trước. Và khi quý khách tiếp tục sử dụng trang web, sau khi các thay đổi về Quy định và Điều kiện được đăng tải, có nghĩa là quý khách chấp nhận với những thay đổi đó. Quý khách vui lòng kiểm tra thường xuyên để cập nhật những thay đổi của chúng tôi. <br><br>

Xin vui lòng đọc kỹ trước khi quyết định mua hàng: <br><br>

1. Hướng dẫn sử dụng web <br><br>

- Khi vào web của chúng tôi, người dùng tối thiểu phải 18 tuổi hoặc truy cập dưới sự giám sát của cha mẹ hay người giám hộ hợp pháp. <br><br>

- Chúng tôi cấp giấy phép sử dụng để bạn có thể mua sắm trên web trong khuôn khổ Điều khoản và Điều kiện sử dụng đã đề ra. <br><br>

- Nghiêm cấm sử dụng bất kỳ phần nào của trang web này với mục đích thương mại hoặc nhân danh bất kỳ đối tác thứ ba nào nếu không được chúng tôi cho phép bằng văn bản. Nếu vi phạm bất cứ điều nào trong đây, chúng tôi sẽ hủy giấy phép của bạn mà không cần báo trước. <br><br>

- Trang web này chỉ dùng để cung cấp thông tin sản phẩm chứ chúng tôi không phải nhà sản xuất nên những nhận xét hiển thị trên web là ý kiến cá nhân của khách hàng, không phải của chúng tôi. <br><br>

- Quý khách phải đăng ký tài khoản với thông tin xác thực về bản thân và phải cập nhật nếu có bất kỳ thay đổi nào. Mỗi người truy cập phải có trách nhiệm với mật khẩu, tài khoản và hoạt động của mình trên web.Hơn nữa, quý khách phải thông báo cho chúng tôi biết khi tài khoản bị truy cập trái phép. Chúng tôi không chịu bất kỳ trách nhiệm nào, dù trực tiếp hay gián tiếp, đối với những thiệt hại hoặc mất mát gây ra do quý khách không tuân thủ quy định. <br><br>

- Trong suốt quá trình đăng ký, quý khách đồng ý nhận email quảng cáo từ website. Sau đó, nếu không muốn tiếp tục nhận mail, quý khách có thể từ chối bằng cách nhấp vào đường link ở dưới cùng trong mọi email quảng cáo. <br><br>

2. Ý kiến khách hàng <br><br>

- Tất cả nội dung trang web và ý kiến phê bình của quý khách đều là tài sản của chúng tôi. Nếu chúng tôi phát hiện bất kỳ thông tin giả mạo nào, chúng tôi sẽ khóa tài khoản của quý khách ngay lập tức hoặc áp dụng các biện pháp khác theo quy định của pháp luật Việt Nam. <br><br>

3. Đặt hàng và xác nhận đơn hàng <br><br>

- Khi quý khách đặt hàng tại elecream.com, chúng tôi sẽ nhận được yêu cầu đặt hàng và gửi đến quý khách mã số đơn hàng. Tuy nhiên, yêu cầu đặt hàng cần thông qua một bước xác nhận đơn hàng, elecream.com chỉ xác nhận đơn hàng nếu yêu cầu đặt hàng của quý khách thỏa mãn các tiêu chí thực hiện đơn hàng tại elecream.com. <br><br>

- Để yêu cầu đặt hàng được xác nhận nhanh chóng, quý khách vui lòng cung cấp đúng và đầy đủ các thông tin liên quan đến việc giao nhận, hoặc các điều khoản và điều kiện của chương trình khuyến mãi (nếu có) mà quý khách tham gia. <br><br>

4. Giá trị đơn hàng và hình thức thanh toán <br><br>

- elecream.com cung cấp các hình thức thanh toán: tiền mặt khi nhận hàng, thanh toán chuyển khoản. <br><br>

- Trừ một số trường hợp có ghi chú riêng, thông thường quý khách có thể lựa chọn một trong 2 hình thức thanh toán trên khi tiến hành đặt hàng. Tuy nhiên, để đảm bảo tính an toàn dành cho quý khách trong quá trình thanh toán, đối những đơn hàng có giá trị cao từ 2 (hai) triệu trở lên, elecream.com chỉ chấp nhận hình thức thanh toán trước bằng hình thức chuyển khoản. <br><br>

5. Khu vực giao hàng <br><br>

- elecream.com giao hàng toàn quốc đối với các sản phẩm do chính elecream.com phân phối, và một số mặt hàng khác nếu quá trình vận chuyển có thể làm ảnh hưởng đến chất lượng sản phẩm hoặc sức khỏe khách hàng. <br><br>

- Đối với sản phẩm do các đơn vị Thương nhân thành viên phân phối, khu vực giao hàng có thể sẽ được giới hạn theo thông cập nhật tại trang sản phẩm. Trong một số trường hợp, mà khu vực giao hàng không được cập nhật kịp thời tại thời điểm quý khách đặt hàng, elecream.com sẽ liên hệ đến quý khách để thông báo chi tiết. <br><br>

6. Giá cả <br><br>

- Giá cả sản phẩm được niêm yết tại elecream.com là giá bán cuối cùng đã bao gồm thuế Giá trị gia tăng (VAT). Giá cả của sản phẩm có thể thay đổi tùy thời điểm và chương trình khuyến mãi kèm theo. Phí vận chuyển hoặc Phí thực hiện đơn hàng sẽ được áp dụng thêm nếu có, và sẽ được hiển thị rõ tại trang Thanh toán khi quý khách tiến hành đặt hàng. <br><br>

- Mặc dù chúng tôi cố gắng tốt nhất để bảo đảm rằng tất cả các thông tin và giá hiển thị là chính xác đối với từng sản phẩm, đôi khi sẽ có một số trường hợp bị lỗi hoặc sai sót. Nếu chúng tôi phát hiện lỗi về giá của bất kỳ sản phẩm nào trong đơn hàng của quý khách, chúng tôi sẽ thông báo cho quý khách trong thời gian sớm nhất có thể và gửi đến quý khách lựa chọn để xác nhận lại đơn hàng với giá chính xác hoặc hủy đơn hàng. Nếu chúng tôi không thể liên lạc với quý khách, đơn hàng sẽ tự động hủy trên hệ thống và lệnh hoàn tiền sẽ được thực hiện (nếu đơn hàng đã được thanh toán trước). <br><br>

7. Thông tin sản phẩm <br><br>

- elecream.com cung cấp thông tin chi tiết đối với từng sản phẩm mà chúng tôi đăng tải, tuy nhiên chúng tôi không thể cam kết cung cấp thông tin đầy đủ một cách chính xác, toàn vẹn, cập nhật, và không sai sót đối với từng sản phẩm. <br><br>

- Trong trường hợp sản phẩm quý khách nhận được không đúng như những gì elecream.com đã mô tả trong phần thông tin sản phẩm, quý khách vui lòng thông tin đến bộ phận Hỗ trợ khách hàng trong thời gian sớm nhất kể từ khi nhận hàng đồng thời đảm bảo sản phẩm trong tình trạng chưa qua sử dụng để được hỗ trợ đổi trả. <br><br>

8. Chính sách về hàng giả, hàng nhái, hàng không đúng chất lượng <br><br>

- elecream.com hướng đến việc cung cấp hàng hóa và chất lượng dịch vụ tốt nhất cho khách hàng qua các sản phẩm được đăng bán trên trang web của chúng và từ chối bán các sản phẩm sản xuất trái phép, sao chép, hàng giả, hàng nhái, không rõ nguồn gốc xuất xứ... <br><br>

- Trong trường hợp quý khách có nghi ngờ sản phẩm sản xuất trái phép, sao chép, hàng giả, hàng nhái, không rõ nguồn gốc xuất xứ..., vui lòng thông báo ngay cho chúng tôi bằng cách liên hệ với Bộ phận Hỗ trợ khách hàng tại elecream.com để được xác thực thông tin và hỗ trợ. <br><br>

9. Thương hiệu và bản quyền <br><br>

- Mọi quyền sở hữu trí tuệ (đã đăng ký hoặc chưa đăng ký), nội dung thông tin và tất cả các thiết kế, văn bản, đồ họa, phần mềm, hình ảnh, video, âm nhạc, âm thanh, biên dịch phần mềm, mã nguồn và phần mềm cơ bản đều là tài sản của chúng tôi. Toàn bộ nội dung của trang web được bảo vệ bởi luật bản quyền của Việt Nam. <br><br>

10. Quyền pháp lý <br><br>

- Các điều kiện, điều khoản và nội dung của trang web này được điều chỉnh bởi luật pháp Việt Nam và Tòa án có thẩm quyền tại Việt Nam sẽ giải quyết bất kỳ tranh chấp nào phát sinh từ việc sử dụng trái phép trang web này. <br><br>

11. Quy định về bảo mật <br><br>

- Trang web của chúng tôi coi trọng việc bảo mật thông tin và sử dụng các biện pháp tốt nhất bảo vệ thông tin và việc thanh toán của quý khách. Thông tin của quý khách trong quá trình thanh toán sẽ được mã hóa để đảm bảo an toàn. Sau khi quý khách hoàn thành quá trình đặt hàng, quý khách sẽ thoát khỏi chế độ an toàn. <br><br>

- Quý khách không được sử dụng bất kỳ chương trình, công cụ hay hình thức nào khác để can thiệp vào hệ thống hay làm thay đổi cấu trúc dữ liệu. Trang web cũng nghiêm cấm việc phát tán, truyền bá hay cổ vũ cho bất kỳ hoạt động nào nhằm can thiệp, phá hoại hay xâm nhập vào dữ liệu của hệ thống. Cá nhân hay tổ chức vi phạm sẽ bị tước bỏ mọi quyền lợi cũng như sẽ bị truy tố trước pháp luật nếu cần thiết. <br>
Mọi thông tin giao dịch sẽ được bảo mật nhưng trong trường hợp cơ quan pháp luật yêu cầu, chúng tôi sẽ buộc phải cung cấp những thông tin này cho các cơ quan pháp luật. <br><br>

12. Thanh toán an toàn và tiện lợi tại elecream.com <br><br>

Mọi khách hàng tham giao giao dịch tại elecream.com vui lòng kiểm tra tài khoản ngân hàng của mình thường xuyên để đảm bảo tất cả giao dịch qua thẻ đều nằm trong tầm kiểm soát. <br><br>

13. Giao kết giao dịch tại elecream.com <br><br>

- Khách hàng khi mua sắm tại elecream.com phải thực hiện các thao tác đặt hàng và nhận hàng theo trình tự sau: <br><br>

Cách 1: Thanh toán trước online qua ngân hàng: <br><br>

Bước 1: Khách hàng đặt hàng, cung cấp thông tin đầy đủ, xác thực <br>
Bước 2: Khách hàng thanh toán trước <br>
Bước 3: elecream.com kiểm tra, xác nhận đơn hàng và chuyển hàng <br>
Bước 4: Khách hàng kiểm tra và nhận hàng  <br><br>

Cách 2: Thanh toán sau: <br><br>

Bước 1: Khách hàng đặt hàng; cung cấp thông tin đầy đủ, xác thực <br>
Bước 2: elecream.com xác thực đơn hàng <br>
Bước 3: elecream.com xác nhận thông tin khách hàng (điện thoại, tin nhắn, email) <br>
Bước 4: elecream.com chuyển hàng <br>
Bước 5: Khách hàng nhận hàng và thanh toán  <br><br>
- Trong các trường hợp, khách hàng có thể tra cứu thông tin giao dịch qua email gửi vào hộp thư khách hàng đã đăng ký với elecream.com hoặc tra cứu tình trạng giao dịch tại website elecream.com. Ngoài ra, khách hàng có thể tra cứu được lịch sử giao dịch khi đăng nhập vào tài khoản của mình tại website elecream.com  <br><br>

Trường hợp khách hàng muốn chỉnh sửa thông tin, khách hàng thông báo cho elecream.com qua đường dây nóng +84 (8) 3911 7394 hoặc ghi lời nhắn tại elecream.com. <br><br>

14. Thay đổi, hủy bỏ giao dịch tại elecream.com <br><br>

- Trong mọi trường hợp, khách hàng đều có quyền chấm dứt giao dịch nếu đã thực hiện các biện pháp sau đây: <br><br>

1. Thông báo cho elecream.com về việc hủy giao dịch qua đường dây nóng +84 (8) 3911 7394 hoặc lời ghi nhắn tại elecream.com <br><br>

2. Trả lại hàng hoá đã nhận nhưng chưa sử dụng hoặc hưởng bất kỳ lợi ích nào từ hàng hóa đó (theo quy định của chính sách đổi trả hàng tại elecream.com) <br><br>

15. Giải quyết hậu quả do lỗi nhập sai thông tin thương mại tại elecream.com <br><br>

- Khách hàng có trách nhiệm cung cấp thông tin đầy đủ và chính xác khi tham gia giao dịch tại elecream.com. Trong trường hợp khách hàng nhập sai thông tin gửi vào trang thông tin điện tử bán hàng elecream.com, elecream.com có quyền từ chối thực hiện giao dịch. Ngoài ra, trong mọi trường hợp, khách hàng đều có quyền đơn phương chấm dứt giao dịch nếu đã thực hiện các biện pháp sau đây: <br><br>

1. Thông báo cho vietshoponline.vnqua đường dây nóng +84 (8) 3911 7394 hoặc lời ghi nhắn tại địa chỉ elecream.com <br><br>

2. Trả lại hàng hoá đã nhận nhưng chưa sử dụng hoặc hưởng bất kỳ lợi ích nào từ hàng hóa đó. <br><br>

16. Giải quyết tranh chấp <br><br>

- Bất kỳ tranh cãi, khiếu nại hoặc tranh chấp phát sinh từ hoặc liên quan đến giao dịch tại elecream.com hoặc các Quy định và Điều kiện này đều sẽ được giải quyết bằng hình thức thương lượng, hòa giải, trọng tài và/hoặc Tòa án theo Luật bảo vệ Người tiêu dùng Chương 4 về Giải quyết tranh chấp giữa người tiêu dùng và tổ chức, cá nhân kinh doanh hàng hóa, dịch vụ. <br><br>

17. Quy định chấm dứt thỏa thuận <br><br>

- Trong trường hợp có bất kỳ thiệt hại nào phát sinh do việc vi phạm Quy Định sử dụng trang web, chúng tôi có quyền đình chỉ hoặc khóa tài khoản của quý khách vĩnh viễn. Nếu quý khách không hài lòng với trang web hoặc bất kỳ điều khoản, điều kiện, quy tắc, chính sách, hướng dẫn, hoặc cách thức vận hành của elecream.com thì biện pháp khắc phục duy nhất là ngưng làm việc với chúng tôi. <br><br>

18. Những quy định khác <br><br>

- Tất cả các Điều Khoản và Điều Kiện (và tất cả nghĩa vụ phát sinh ngoài Điều khoản và Điều kiện này hoặc có liên quan) sẽ bị chi phối và được hiểu theo luật pháp Việt Nam. Chúng tôi có quyền sửa đổi các Điều khoản và Điều kiện này vào bất kỳ thời điểm nào và các sửa đổi đó sẽ có hiệu lực ngay tại thời điểm được được đăng tải tại elecream.com. <br><br>

<h5>Xin quý khách lưu ý chỉ mua hàng khi chấp nhận và hiểu rõ những quy định trên. Nếu cần hỗ trợ thêm thông tin, quý khách vui lòng tham khảo tại elecream.com </h5>
</html>