{% extends "base.html" %}

{% block title %}Thay đổi mật khẩu{% endblock %}

{% block content %}
	<div class="wrapper" style="background-color:#D8EDF2">
      <form class="form-signin" method="post">
        <h2 class="form-signin-heading text-lg-center">Thay đổi mật khẩu</h2>  
        {% if validlink %}
        	{{ form.as_p }}
			{% csrf_token %}
			<p><input type="submit" class="btn btn-outline-dark" value="Xác nhận" /></p>
        {% else %}
			<p>Liên kết thay đổi mật khẩu không hợp lệ, hoặc đã hết hạn. Xin vui lòng gửi yêu cầu mới.</p>
		{% endif %} 
	  </form>
	</div>
{% endblock %}