{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block content %}
	<div class="wrapper" style="background-color:#D8EDF2">
        <form class="form-signin" method="post">
            <h2 class="form-signin-heading text-lg-center">Quên mật khẩu</h2>   
            <h3>Email đã được gửi.</h3>
			<p>Nếu email không tới tay bạn, bạn nên kiểm tra mục thư rác. Hoặc vui lòng chắc chắn bạn nhập đúng email mà bạn đã đăng ký</p>
        </form>
    </div>
{% endblock %}
